{% include "header.html" %}

		<div class="container-sm">
			<div class="mt-4 mb-4">
				<h5><i class="bi bi-speedometer2 me-2"></i>Dashboard</h5>
			</div>

			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card rounded-3">
						<div class="card-header">
							<h6 class="mb-0">DreamPi Service Status</h6>
						</div>
						<div class="card-body">
    						{{ status | safe }}
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card rounded-3">
						<div class="card-header">
							<h6 class="mb-0">Dreamcast Now</h6>
						</div>
						<div class="card-body">
        					<span class="badge rounded-pill text-bg-success p-2">Enabled</span><!-- Placeholder for actual status -->
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card rounded-3">
						<div class="card-header">
							<h6 class="mb-0">IP Address</h6>
						</div>
						<div class="card-body">
        					{{ ip_address }}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-4">
					<div class="card rounded-3">
						<div class="card-header">
							<h6 class="mb-0">Online Users</h6>
						</div>
						<div class="card-body">
        					<!-- Placeholder for actual online users -->
						</div>
					</div>
				</div>
			</div>
		</div>

{% include "footer.html" %}